# top-most EditorConfig file
root = true

# Unix-style newlines with a newline ending every file
[*]
end_of_line = crlf
insert_final_newline = true

# 4 space indentation
[*.cs]
indent_style = space
indent_size = 4

# IDE0090: 'new' expression can be simplified
csharp_style_implement_object_creation_when_type_is_apparent = false
